{% extends "base.html" %}
{% block title %}Game Room{% endblock %}
{% block header %}Create your user profile{% endblock %}

{% block content %}
    <h1 class="general_info">Game Room: {{ game.room_name }}</h1>
    <p class="general_info">Engine: {{ game.engine }}</p>
    <p class="general_info">Last Updated: {{ game.last_update }}</p>
    <p class="general_info">Game pin: {{ game.pin }}</p>

    <form action="{{ url_for('auth.direct_room') }}" method="post">
        <label for="user_name">User Name:</label>
        <input type="text" id="user_name" name="user_name" required>
        <br>
        <label for="pin">PIN:</label>
        <input type="text" id="pin" name="user_pin" required>
        <br>
        <input type="submit" value="Enter Room">
    </form>
{% endblock %}