{% extends "base.html" %}
{% block title %}Game Rooms{% endblock %}

{% block header %}Gaming Rooms{% endblock %}

{% block content %}
    <h1 class="general_info">Game Name: {{game.room_name}}</h1>
    <ul class="players">
        {% for player in players %}
            <li>{{ player.user_name }}</li>
        {% endfor %}
    </ul>
    <h1 class="general_info">Your Balance: {{ session.get('user_balance', 0) }}</h1>
    <h2 class="content_separator">Opções de ações abaixo:</h2>
    <ul class="link_list">
        <li>
            <form action="{{ url_for('room.payment') }}" method="get">
                <button type="submit">Pagar</button>
            </form>
        </li>
        <li>
            <form action="{{ url_for('room.ask_for_money') }}" method="post">
                <button type="submit">Pedir montante de volta completa</button>
            </form>
        </li>
        <li>
            <form action="" method="get">
                <button type="submit">Hipoteca</button>
            </form>

        </li>
        <li>
            <form action="" method="get">
                <button type="submit">Sair do Jogo</button>
            </form>
        </li>
    </ul>
    
{% endblock %}