<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Web App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>{% block header %}Welcome to My First flask app{% endblock %}</h1>
    </header>
    <main>
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>
    <footer>
        <br>
        <p>&copy; {{ current_year }} My Web App. All rights reserved.</p>
    </footer>
</body>
</html>