{% extends "base.html" %}
{% block title %}Enjoy your gametime{% endblock %}

{% block content %}
    <h1>Game Name: {{game.room_name}}</h1>
    <ul>
        {% for player in players %}
            <li>{{ player.user_name }}</li>
        {% endfor %}
    </ul>
    <ul>
        <li>
            <a href="{{ url_for('payment') }}">Pagar</a>
        </li>
        <li>
            <a href="">Pedir montante de volta completa</a>
        </li>
        <li>
            <a href="">Hipoteca</a>
        </li>
        <li>
            <a href="">Sair do Jogo</a>
        </li>
    </ul>
    
{% endblock %}