{% extends "base.html" %}
{% block title %}Create your game Room{% endblock %}

{% block header %}Gaming Rooms{% endblock %}

{% block content %}
    <h1 class="content_title">Create your game Room</h1>
    <form action='/create_engines/' method="post">
        <label for="game_name">Put here the name of the game:</label>
        <input type="text" id="game_name" name="name" required>
        <br>
        <label for="Game_pin">Put here the PIN of the game:</label>
        <input type="text" id="Game_pin" name="pin" maxlength="4" required>
        <br>
        <input type="submit" value="Create Game">
    </form>
{% endblock %}